
# working files
.vim/viminfo
.vim/swaps/*
.vim/undo
.vim/plugged
.vim/.netrwhist

!.vim/swaps/README

# git credential file 
.gitconfig.local


# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc
